@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    background-color: beige;
}

.add-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    font-family: "Press Start 2P", cursive;
}
.container-1 {
    display: flex;
    flex-direction: row;
}

.container-2 {
    display: flex;
}

.add-btn {
    background-color: #4caf50; /* Green */
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 39%;
}

.container1-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
.display-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 500px;
    box-sizing: border-box;
    margin: 5px;
    margin-bottom: 30px;
    align-items: center;
    background-color: white;
    width: 25%;
}

.display-card .header {
    margin: 20px;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
}

.card-title {
    text-align: center;
}

.card-text {
    font-size: 14px;
    padding: 10px;
}

@media only screen and (max-width: 500px) {
    .container1-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .display-card {
        width: 50%;
    }

    .container-1 {
        flex-direction: column;
    }

    .container-2 {
        flex-direction: column;
    }

    .textArea1 {
        width: 100%;
    }
    .add-btn {
        width: 200px;
    }

    h1 {
        font-size: 20px;
    }
    textarea {
        width: 100%;
    }
}
